<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GroupName</key>
	<string>wheel</string>
	<key>InitGroups</key>
	<false/>
	<key>Label</key>
	<string>com.bauer.tempadmin</string>
	<key>Program</key>
	<string>/usr/local/bin/removeadmin.sh</string>
	<key>RunAtLoad</key>
	<false/>
	<key>StartInterval</key>
	<integer>0</integer>
	<key>UserName</key>
	<string>root</string>
</dict>
</plist>