<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
	<key>ADDomain</key>
	<string>YOURDOMAIN</string>
	<key>KerberosRealm</key>
	<string>YOURDOMAIN</string>
	<key>LoginLogo</key>
	<string>/usr/local/bauer/loginwindow/Bauer-Logo-icons1.png</string>
	<key>DemobilizeUsers</key>
	<true/>
	<key>BackgroundImage</key>
	<string>/usr/local/bauer/loginwindow/magazines.jpg</string>
	<key>BackgroundImageAlpha</key>
	<integer>0</integer>
	<key>LoginScreen</key>
	<false/>
	<key>IgnoreSites</key>
	<true/>
	<key>KeychainAddNoMAD</key>
	<true/>
	<key>KeychainCreate</key>
	<true/>
	<key>UsernameFieldPlaceholder</key>
	<string>YOURDOMAIN Username</string>
</dict>
</plist>
